{% extends "base.html" %}
{% load i18n %}
{% load suwaki_tags %}

{% block "title" %}Suwaki{% endblock %}

{% block "body" %}
<h1>{% trans "Moving the copyright sliders." %}</h1>

    <section id="sliders">
    {% for s in sliders %}
	   <div class="dimension">
	       <div class="name">{{ s.name }}</div>
	       <div class="slider-area">
	       <div class="slider" data-slider="{{ s.pk }}"></div>
	       {% spaceless %}
	       <ul class="stops">
    	       {% for v in s.value_set.all %}
    		      <li data-pk="{{ v.pk }}" style="{% stop_pos forloop.counter s.value_set.all %}"><span>{{ v.name }}</span></li>
	       	   {% endfor %}
		   </ul>
		   {% endspaceless %}
		   </div>
	   </div>
    </section>
	{% endfor %}

    <section id="headers-area">
    <p id="noheaders">{% trans "No relevant news found." %}</p>
    <ul id="headers">
    </ul>
    </section>
    <!--p><a id='add-link' href="">{% trans "Add some news!" %}</a></p-->
        
{% endblock %}
